In [2]:
number=[22,33,44,55]
print(number)

[22, 33, 44, 55]

In [4]:
fruits=('apple','banana','cherry','mango')
print('Second element:',fruits[1])
print('Last element:',fruits[-1])

Second element: banana
Last element: mango

In [6]:
#convert tuple to list
fruit_list=list(fruits)
fruit_list[2]='orange'
print('modified list:',fruit_list)

modified list: ['apple', 'banana', 'orange', 'mango']

5. **SET:**

In [9]:
name1={'Ali','Asad','Abdullah','Ishaq'}
name2={'Abdullah','Ishaq','Aleeza','Nabia','Rimsha'}
print('union:',name1|name2)
print('Intersection:',name1&name2)
print('Difference:',name1-name2)
name1.add('javeria')
name2.remove('Ismaeel')
print('Updated name1',name1)
print('Updated name2',name2)

union: {'Nabia', 'Asad', 'Rimsha', 'Ali', 'Abdullah', 'Aleeza', 'Ishaq'}
Intersection: {'Abdullah', 'Ishaq'}
Difference: {'Asad', 'Ali'}

KeyError: 'Ismaeel'

DICTIONARY:

In [12]:
student_marks = {
    "Aleena": 85,
    "Biqtash": 92,
    "Chaman": 78,
    "Dolly": 90,
    "Eiman": 88
}
print('keys:',student_marks.keys())
print('values:',student_marks.values())
print('items:',student_marks.items())

print(student_marks)

keys: dict_keys(['Aleena', 'Biqtash', 'Chaman', 'Dolly', 'Eiman'])
values: dict_values([85, 92, 78, 90, 88])
items: dict_items([('Aleena', 85), ('Biqtash', 92), ('Chaman', 78), ('Dolly', 90), ('Eiman', 88)])
{'Aleena': 85, 'Biqtash': 92, 'Chaman': 78, 'Dolly': 90, 'Eiman': 88}

In [16]:
student_marks={
    "ali":20,
      "ali":21,
      "ali":22,
  "ali":23,
      "ali":24,
}
print(student_marks)

{'ali': 24}